/* .mainContainer{
    display: flex;
    border: 2px;
    grid-row: inherit;
    grid-template-columns: auto;
} */

table, th, td {
    font-size: large;

    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

th,td{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.primaryButton{
    border: 2px solid;
    margin-left: 100vh;
    margin-top:20px;
    padding: 2px;
}

input{
    border-spacing: 20px solid ;
}

.topDiv{
    margin-left: 98vh;
}